/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
}

#tap {
    position: fixed;
    width: 100vw;
    top: 20px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.2);
    font-size: 3vh;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

i {
    position: fixed;
    bottom: 40px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.2);
    font-size: 4vh;
    cursor: pointer;
}

#info {
    position: fixed;
    bottom: 70px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 2vh;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    visibility: hidden;
}

a {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: underline dotted;
}